*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
}
body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 46, 175);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile
{
    width: 25%;
    border-radius: 150px;
    padding: 15px;
}
.profile1{
    display: flex;
}
.Name
{
    padding-left: 5%;
    font-size: 50px;
    font-family: cursive;
}
.Username
{
    font-size: 30px;
}
.Numbers
{
    font-size: 25px;
}
.button
{
    height: 50px;
    width: 130px;
    border-radius: 20px;
    color:burlywood;
    background-color: rgb(48, 7, 87);
    font-size: 25px;
}
.posts
{
    height: 300px;
    width: 400px;
    padding: 10px;
}
@media (max-width: 1207px) and (min-width: 907px)
{
    .posts
    {
        height: 200px;
        width: 300px;
        padding: 2px;
    }
}
@media (max-width: 907px) and (min-width: 762px)
{
    .posts
    {
        height: 190px;
        width: 290px;
        padding: 2px;
    }
}
@media (max-width: 762px) and (min-width: 608px)
{
    .posts
    {
        height: 150px;
        width: 200px;
        padding: 2px;
    }
}
@media (max-width: 608px) and (min-width: 459px)
{
    .posts
    {
        height: 120px;
        width: 150px;
        padding: 2px;
    }
}
@media (max-width: 459px)
{
    .posts
    {
        height: 90px;
        width: 100px;
        padding: 2px;
    }
}
@media (max-width: 550px) and (min-width: 354px)
{
    .profile
    {
        width: 35%;
        border-radius: 150px;
        padding: 15px;
    }
    .Name{
        font-size: 35px;
    }
    .Username{
        font-size: 20px;
    }
    .Numbers{
        font-size: 15px;
    }
    .button
    {
        height: 22px;
        width: 90px;
        border-radius: 20px;
        color:burlywood;
        background-color: rgb(48, 7, 87);
        font-size: 15px;
    }
}
@media (max-width: 354px) and (min-width: 336px)
{
    .profile
    {
        width: 39%;
        border-radius: 150px;
        padding: 15px;
    }
    .Name{
        font-size: 25px;
    }
    .Username{
        font-size: 17px;
    }
    .Numbers{
        font-size: 15px;
    }
    .button
    {
        height: 20px;
        width: 90px;
        border-radius: 20px;
        color:burlywood;
        background-color: rgb(48, 7, 87);
        font-size: 15px;
    }
}
@media (max-width: 336px)
{
    .profile
    {
        width: 130px;
        height: 130px;
        border-radius: 150px;
        padding: 1px;
    }
    .Name{
        font-size: 20px;
    }
    .Username{
        font-size: 12px;
    }
    .Numbers{
        font-size: 12px;
    }
    .button
    {
        height: 25px;
        width: 60px;
        border-radius: 20px;
        color:burlywood;
        background-color: rgb(48, 7, 87);
        font-size: 10px;
    }
}