*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav
{
    margin-top: 10px;
}
.buttons
{
    font-size: 30px;
    margin-left: 58%;
}
.button
{
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
.Logo
{
    position: absolute;
    height: 70px;
    margin-left: 30px;
    margin-top: -10px;
}
.jumbotron
{
    margin-left: 4px;
    height: 570px;
    width: 100%;
}
.Initiative
{
    height: 570px;
    width: 100%;
    margin-left: 4px;
    margin-top: 5px;
}
.header
{
    text-align: center;
    font-size: 50px;
}
.details_our_initiative
{
    height: 500px;
    display: flex;
}
.founders_words
{
    height: 500px;
    width: 70%;
    font-size: 25px;
    padding: 100px;
}
.picture_our_initiative
{
    height: 500px;
    width: 30%;
    padding-left: 5px;
}
.our_initiative_pic
{
    height: 500px;
}
#section3{
    padding: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}